[project]
	description = JB slimrom for p970
[access "refs/*"]
	owner = group user/dharmabm (dharmabm)
[access "refs/for/refs/*"]
	read = group user/dharmabm (dharmabm)
	push = group user/dharmabm (dharmabm)
	label-Code-Review = -2..+2 group user/dharmabm (dharmabm)
	label-Verified = -1..+1 group user/dharmabm (dharmabm)
	rebase = group user/dharmabm (dharmabm)
	removeReviewer = group user/dharmabm (dharmabm)
	submit = group user/dharmabm (dharmabm)
[access "refs/heads/*"]
	read = group user/dharmabm (dharmabm)
	create = group user/dharmabm (dharmabm)
	push = +force group user/dharmabm (dharmabm)
	pushMerge = group user/dharmabm (dharmabm)
[access "refs/tags/*"]
	push = +force group user/dharmabm (dharmabm)
	pushTag = group user/dharmabm (dharmabm)
	pushSignedTag = group user/dharmabm (dharmabm)
